 <!-- ***************************************** -->
 <!-- 42AI HOME IMPORTS : importing relevant language variables and creating custom classes for homepage -->
 <!-- ***************************************** -->

{% assign 42ai_home = /site.data.locales["tabs"]['home'].home %}
{% assign lang = site.active_lang %}

<style>
.hoverableIcon{
  color: #34343c;
}
.hoverableIcon:hover{
  transition: 0.5s;
  font-size: 64px;
  margin: 5px;
  color: lightslategray
}
.hoverableLink:hover{
  transition: 0.337s;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0px
}
.link{
  font-weight: bold;
  color: gray
}
.link:hover{
  font-weight: bold;
  font-size: 1.1rem;
  transition: 0.337s;
  color: #34343c
}
.hoverable{
  color: #34343c;
  margin: 40px 15px 15px 15px;

}
.hoverable:hover{
  transition: 0.5s;
  font-size: 48px;
  margin: 25px;
  color: lightslategray
}
.hoverable2:hover{
  transition: 0.337s;
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0px
}
</style>
 <!-- ***************************************** -->
 <!-- END 42AI IMPORTS -->
 <!-- ***************************************** -->


  <div class="column container" style="border-radius: 0px;">
 
  <!-- TLDR -->
  <div class="col" style="margin: 5px 15px 50px 15px;">

    <h3>{{42ai_home.welcome[lang]}}</h3>
      <p class="radjani" style="margin: 15px auto 15px auto;">{{42ai_home.asso_description[lang]}}</p>
    
    <!-- Social media Icons Links list -->
      <div class="flex" style="width: 80%; margin: 30px 10% 15px 10%; display: flex;  flex-wrap: wrap; justify-content: space-evenly; text-align: center;">

        <a target="_blank" href="https://github.com/42-AI"><i class="hoverable fa-brands fa-github fa-2xl"></i></a>
        
        <a target="_blank" href="https://www.linkedin.com/company/42-artificial-intelligence/"><i class="hoverable fa-brands fa-linkedin fa-2xl"></i></a>

        <a target="_blank" href="https://www.kaggle.com/born2code42ai"><i class="hoverable fa-brands fa-kaggle fa-2xl"></i></a>
        
        <a target="_blank" href="https://www.youtube.com/c/@42AI_Paris/"><i class="hoverable fa-brands fa-youtube fa-2xl"></i></a>

        <a target="_blank" href="https://x.com/42AI_"><i class="hoverable fa-brands fa-x-twitter fa-2xl"></i></a>

        <a target="_blank" href="https://www.instagram.com/_42AI_/"><i class="hoverable fa-brands fa-instagram fa-2xl"></i></a>

        <a target="_blank" href="https://www.facebook.com/42ArtificialIntelligence/"><i class="hoverable fa-brands fa-facebook fa-2xl"></i></a>

      </div>
    <!-- //Social media Icons Links list -->
</div>
  <!-- // TLDR -->

  
      <hr/>
  

    <!-- QUICK ACCESS -->
     <div style="margin: 25px 15px 15px 15px;">
       
        <h3>{{ 42ai_home.quick_access.text[site.active_lang] }}
          <span class="d-block d-md-none d-lg-none dl-xl-none" style="float: right; width:auto; height: 18px; display: inline-flex; border-radius: 0px;">
            <img src="/assets/img/corner.png"/>
          </span>
        </h3>

        <div class="row container" style="padding: 15px;">
          <div class="col-md-6 col-sm-12">
            <ul style="list-style-type: none;">
              <li class="hoverableLink"><a target="_blank" href="{{ 42ai_home.quick_access.gh_link.url }}">
                  <i class="fa-brands fa-github fa-lg"></i>&emsp;{{ 42ai_home.quick_access.gh_link[site.active_lang] }}</a>
                </li>
              <li class="hoverableLink"><a href="{{ 42ai_home.quick_access.42studs_link.url}}">
                <image src="/assets/img/partners/logo_42.png" style="width: 20px;"></image>&emsp;{{ 42ai_home.quick_access.42studs_link[site.active_lang] }}
              </a>
              </li>
              <li class="hoverableLink"><a target="_blank" href="{{ 42ai_home.quick_access.contact_link.url }}">
                  <i class="fa-solid fa-at fa-lg"></i>&emsp;{{ 42ai_home.quick_access.contact_link[site.active_lang] }}</a></li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-12">
            <ul style="list-style-type: none;">
              <li class="hoverableLink"><a target="_blank" href="{{ 42ai_home.quick_access.py_btcmp_link.url }}">
                  <i class="fab fa-python fa-lg"></i>&emsp;{{ 42ai_home.quick_access.py_btcmp_link[site.active_lang] }}</a>
                </li>
              <li class="hoverableLink"><a target="_blank" href="{{42ai_home.quick_access.ml_btcmp_link.url}}">
                  <i class="fa-solid fa-cog fa-lg"></i>&emsp;{{ 42ai_home.quick_access.ml_btcmp_link[site.active_lang] }}</a>
                </li>
              <li class="hoverableLink"><a href="{{42ai_home.quick_access.blog_post_link.url[site.active_lang]}}">
                <i class="fa-solid fa-lightbulb fa-lg"></i>&emsp;{{ 42ai_home.quick_access.blog_post_link[site.active_lang] }}</a>
              </li>
            </ul>
          </div>
        </div>
       
     </div>
     <!-- // QUICK ACCESS -->

     <hr/>


      <!-- ACTIVITY / LAST POSTS -->
     <div style="margin: 25px 15px 25px 15px;">

         <h3 class="roboto" style="color: grey;">{{ 42ai_home.last_activity[site.active_lang] }}
          <span class="d-block d-sm-block d-md-none d-lg-none dl-xl-none" style="float: right; width:auto; height: 18px; display: inline-flex; border-radius: 0px;">
            <img src="/assets/img/corner.png"/>
          </span>
         </h3>

         <div class="column" style="margin-top: 30px;">
          {% assign posts = '' | split: '' %}
      
          <!-- Get pinned posts -->
      
          {% assign offset = paginator.page | minus: 1 | times: paginator.per_page %}
          {% assign pinned_num = pinned.size | minus: offset %}
      
          {% if pinned_num > 0 %}
            {% for i in (offset..pinned.size) limit: pinned_num %}
              {% assign posts = posts | push: pinned[i] %}
            {% endfor %}
          {% else %}
            {% assign pinned_num = 0 %}
          {% endif %}
      
          <!-- Get default posts -->
      
          {% assign default_beg = offset | minus: pinned.size %}
      
          {% if default_beg < 0 %}
            {% assign default_beg = 0 %}
          {% endif %}
      
          {% assign default_num = paginator.posts | size | minus: pinned_num %}
          {% assign default_end = default_beg | plus: default_num | minus: 1 %}
      
          {% if default_num > 0 %}
            {% for i in (default_beg..default_end) %}
              {% assign posts = posts | push: default[i] %}
            {% endfor %}
          {% endif %}
      
          <div id="post-list" class="flex-grow-1 px-xl-1" style="max-width: 90%; margin: 0 5% 0 5%;">
            {% for post in posts %}
              <article class="card-wrapper card">
                <a href="{{ post.url | relative_url }}" class="post-preview row g-0 flex-md-row-reverse">
                  {% assign card_body_col = '12' %}
      
                  {% if post.image %}
                    {% assign src = post.image.path | default: post.image %}
                    {% unless src contains '//' %}
                      {% assign src = post.media_subpath | append: '/' | append: src | replace: '//', '/' %}
                    {% endunless %}
      
                    {% assign alt = post.image.alt | xml_escape | default: 'Preview Image' %}
      
                    {% assign lqip = null %}
      
                    {% if post.image.lqip %}
                      {% capture lqip %}lqip="{{ post.image.lqip }}"{% endcapture %}
                    {% endif %}
      
                    <div class="col-md-5">
                      <img src="{{ src }}" alt="{{ alt }}" {{ lqip }}>
                    </div>
      
                    {% assign card_body_col = '7' %}
                  {% endif %}
      
                  <div class="col-md-{{ card_body_col }}">
                    <div class="card-body d-flex flex-column">
                      <h1 class="card-title my-2 mt-md-0">{{ post.title }}</h1>
      
                      <div class="card-text content mt-0 mb-3">
                        <p>{% include post-description.html %}</p>
                      </div>
      
                      <div class="post-meta flex-grow-1 d-flex align-items-end">
                        <div class="me-auto">
                          <!-- posted date -->
                          <i class="far fa-calendar fa-fw me-1"></i>
                          {% include datetime.html date=post.date lang=lang %}
      
                          <!-- categories -->
                          {% if post.categories.size > 0 %}
                            <i class="far fa-folder-open fa-fw me-1"></i>
                            <span class="categories">
                              {% for category in post.categories %}
                                {{ category }}
                                {%- unless forloop.last -%},{%- endunless -%}
                              {% endfor %}
                            </span>
                          {% endif %}
                        </div>
      
                        {% if post.pin %}
                          <div class="pin ms-1">
                            <i class="fas fa-thumbtack fa-fw"></i>
                            <span>{{ site.data.locales[lang].post.pin_prompt }}</span>
                          </div>
                        {% endif %}
                      </div>
                      <!-- .post-meta -->
                    </div>
                    <!-- .card-body -->
                  </div>
                </a>
              </article>
            {% endfor %}
          </div>
          <!-- #post-list -->
      
          {% if paginator.total_pages > 1 %}
            {% include post-paginator.html %}
          {% endif %}
      </div>

    </div>
      <!-- END ACTIVITY / LAST POSTS -->

  </div>
